/*=====================*/
/*      Boutons        */
/*=====================*/

button,
button:link,
.bouton, 
.bouton:link,
input[type="button"], 
input[type="button"]:link,
input[type="submit"], 
input[type="submit"]:link,
input[type="submit"]:visited, 
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="image"],
input[type="image"]:link, 
input[type="image"]:visited, 
input[type="image"]:hover, 
input[type="image"]:active, 
input[type="image"]:focus{
    border: 1px solid #999;  
}

Button:hover,
input[type="submit"]:hover,
input[type="image"]:hover{
	border: 1px solid #3c7fb1;
}

