
.yui-skin-sam .yui-panel-container{
	padding-top: 110px;
    max-width: 90%;
}

.yui-skin-sam .yui-panel-container.shadow .underlay {
    top: 110px;
}

/*================================*/
/*            Titre		          */
/*================================*/

.yui-skin-sam .yui-panel .hd {
	text-align: center;
}

/*================================*/
/*            Contenu	          */
/*================================*/

.yui-skin-sam .yui-panel .bd {
	padding:10px 30px 10px 10px;
	overflow: auto;
    max-height: 400px;
}

/*================================*/
/*            Footer	          */
/*================================*/

.yui-skin-sam .yui-panel .ft{
	text-align: center;
}

.yui-skin-sam .yui-panel .ft button{
	margin-right: 5px;
}

.yui-skin-sam .yui-panel .ft button span{
	font-size: 1.2em;
}