/*================================*/
/*            Body  et Page       */
/*================================*/
body
{
	background: #ffffff none repeat scroll 0%;
	font-family: Verdana,Tahoma,Arial,sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
	min-width: 600px;
}

#Page {
	position: relative;
	text-align: left;
	background: #FFFFFF;
}

a {
	color: #336699;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img, a:hover img {
	border: none;
}


/*================================*/
/*            En-tete             */
/*================================*/

#EnTete {
	position: fixed;
	background-color: #B8C2C4; /* gris foncé */
	color: #000099;
	margin: 0px;
	padding: 7px;
	height: 48px; /* hauteur en-tête fixée */
	width: 100%; 
	z-index: 2;
	top: 0px;
	border-bottom: 1px solid #9C9C9C;
}

#EnTete #logoINSA {	
	position: absolute;
	left:10px;
}

#EnTete #logoINSA img {
	height: 45px;
	width: 84px;
}

#EnTete #imgMYCS {
	position: absolute;
	left: 120px;
}

#EnTete #imgMYCS img {
	height: 48px;
	width: 91px;
}

#EnTete #titre {
	position: absolute;
	top: 5px;
	left: 240px;
	font-size: 300%;
	font-family: Impact;
	white-space: nowrap;
}

#EnTete #deco {
	position: fixed;
	float: right;
	font-size: 80%;
	font-weight: bold;
	color: #444948;
	text-align: center;
	right: 4px;
	height: 20px;
}

#EnTete #deco span {
	position: relative;
	float: left;
	height: 100%;
	line-height: 20px;
	vertical-align: middle;
}

#EnTete #CouleurPseudo {
}

#EnTete #boutonDeco img {
	width: 20px;
	height: 20px;
}

/*================================*/
/*           Bloc login           */
/*================================*/

#identification {
	border: 1px blue dashed;
	padding: 20px;
	background-color: #E3EAFF;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

#identification td{
	color:#336699;
}

#identification p.nomargin {
	text-indent: 0px;
	margin: 0;
}

/*================================*/
/*           Menu   	          */
/*================================*/

#Menu {
	position: fixed;
	float: right;
	top: 31px;
	right: 6px;
	z-index: 4;
}

/*================================*/
/*    Ariane et langues           */
/*================================*/

#Ariane {
	position: fixed;
	top: 63px; /* fixe où placer le menu en hauteur */
	border-bottom: 1px solid #9C9C9C;
	background-color: #D3DEDC; /* gris clair */
	width: 100%;
	color: black; /* couleur du texte */
	z-index: 2;
	height: 24px;
}

#Ariane #FilAriane {
	padding: 4px;
	position: relative;
	white-space: nowrap;
	float: left;
}


#Ariane #Langue {	
	position: relative;
	top: -1px;
	float: right;
	right: 4px;
	font-size: 1em; /* augmenter la valeur pour augmenter la largeur du bouton */
}

#Commentaire {
	position: fixed;
	visibility: hidden;
	top: 88px;  /* = top Ariane + 26px */
	background-color: #FFFFC6; /* jaune clair */
	border-bottom: 1px solid #9C9C9C;
	overflow:hidden;
	color: #666666;
	height:16px;
	width: 100%;
	padding: 4px;
	z-index: 1;
}

#Commentaire img {
	float: left;
	position: relative;
	margin-right: 4px; 
}

/*================================*/
/*             Masque             */
/*================================*/
#Masque {	
	visibility:hidden;	
	position: absolute;
    margin-left:auto;
    margin-right:auto;
	text-align: center;
	z-index: 200;
}

#Masque #CadrePage {	
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #000000;
	opacity: 0.50;
	filter:alpha(opacity=50);
	z-index: 200;
}

#Masque #CadreChargement {
	text-align: center;
	position: fixed;
    margin: auto;
    margin-left: 40%;
    margin-right: 40%;
    width: 220px; 
    top: 49%;
	background-color: #DDDDDD;
	z-index: 201;
}

/*================================*/
/*             Corps              */
/*================================*/

#Corps {
	position: relative;
	top: 113px;
	padding: 10px 10px 66px 10px;
	z-index: 0;
}
#Corps h1, #Corps h2, #Corps h3 {
	color: #000099;
	font-weight: bold;
	margin-top: 5px;
}
#Corps h1 {
	font-size: 1.6em;
	margin-bottom: 5px;
}
#Corps h2 {
	font-size: 1.3em;
	margin-bottom: 4px;
}
#Corps h3 {
	font-size: 1.1em;
	margin-bottom: 3px;
}
#Corps ul {
	margin: 5px 0;
	padding-left: 20px;
}
#Corps li {
	margin: 1px 0;
	list-style-type: disc;
}

/*================================*/
/*              Pied             */
/*================================*/

#Pied {
	border-top: 1px solid #9C9C9C;
	background-color: #B8C2C4;
	position: fixed;
	bottom: 0;
	color: #336699;
	font-size: 90%;
	font-weight: bold;
	padding: 3px 10px 1px 1px;
	width: 100%;
	height: 19px;
	z-index: 4;
}

#Pied #PiedTexte{
	position: relative;
	float: left;
	left: 50%;
}

#Pied #PiedOutil{
	position: relative;
	float: right;
	padding-right: 10px;
}

/*================================*/
/*        Pied - Boutons          */
/*================================*/

#Edition {
	background-color:#D3DEDC;
	position: fixed;
	bottom: 22px;
	height: 30px;
	font-size: 90%;
	border-top : 1px solid #9C9C9C;
	padding-top: 4px;
	width: 100%;
	z-index: 4;
	text-align: right;
}

#validbutton {
}

#annulbutton {
}

#ajoutbutton {
	margin-right: 4px;
}

/*================================*/
/*        Formulaire              */
/*================================*/	
.fieldset-inscription, .fieldset-ins-submitt {  
	float: left;  
	clear: both;  
	margin: 0 0 1.5em 0;  
	padding: 0;  
	border: 1px solid #BFBAB0;  
	background-color: #F2EFE9;  
	background-image: url(images/fieldset_gradient.jpg);  
	background-repeat: repeat-x; 
	width: 600px; 
}

.fieldset-ins-submitt {  
	float: none;  
	width: auto;  
	border-style: none;  
	padding-left: 12em;  
	background-color: transparent;  
	background-image: none; 
}

.fieldset-inscription legend {  
	margin-left: 1em;  
	padding: 0;  
	color: #000;  
	font-weight: bold; 
}

.fieldset-inscription ol {  
	padding: 1em 1em 0 1em;  
	list-style: none;
}

.fieldset-inscription li {  
	float: left;  
	clear: left;  
	width: 100%;  
	padding-bottom: 1em; 
}

.req {
	position: absolute;  
	left: 10em;  
	top: 0; 
}
	
.descriptionForm {
	display: block;  
	color: grey;  
	font-size: 70%;  
	font-style: italic;
}

.fieldset-inscription label, .fieldset-ins-submitt label{
	position: relative;  
	float: left;  
	width: 10em;  
	margin-right: 1em;
}

.errorsForm {
	position: relative;
	display: block;
	float: left;
	left: 28em;
	top: -14px;
	width: 276px;
	color: #C00;
	font-size: 85%;
	font-weight: normal;
	text-transform: uppercase; 
}

.errorsForm img {
	position: absolute;    
	left: -18em;
}

#fieldset-agree .errorsForm img {
	position: absolute;    
	left: -2em;
}

#fieldset-agree .errorsForm {
	position: absolute;
	top: 0px;
}

.fieldset-ins-submitt #CancelButton {
	position: relative;
	left : 100px;
	background-color: #B2CDFB;
}

.fieldset-ins-submitt #CancelButton:hover {
	background-color: #CCFFFF;
}

.fieldset-ins-submitt .submit {
	background-color: #D8D8DA;
}

.fieldset-ins-submitt .submit:hover {
	background-color: #BFDAFF;
}
