/*================================*/
/* Style des listes de l'accueil  */
/*================================*/

#accueil {
    
}

/*================================*/
/*             Autre              */
/*================================*/

table.tableauErreurs {
    border: solid 1px #B8C2C4;
    width: 100%;
}

table.tableauErreurs td, table.tableauErreurs th {
    border: solid 1px #D3DEDC;
    padding: 2px 4px;
}

table.tableauErreurs th {
    font-weight: bold;
    text-align: center;
    background: #D3DEDC;
    border: #B8C2C4;
}

table.tableauErreurs td.nomFichier {
}

table.tableauErreurs td.descriptionOk {
    text-align: center;
    background: #94D88B;
}
table.tableauErreurs td.descriptionErreur {
    background: #D89C8B;
}

table.tableauErreurs td.numLigne {
    text-align: center;
    color: #000099;
}

table.tableauErreurs td.codeLigne {
    font-family: monospace;
    font-size: 0.8em;
}
