/*================================*/
/*    Messages d'information	  */
/*================================*/

#Informations {
	position: fixed;
	z-index: 3;
	top: 20px;
	width: 100%;
	text-align: center;
}

#Informations ul {
	display: inline-block;
	background: #FFF1A8;
    margin-top: 10px;
	padding: 5px 15px 5px 2px;
    border: 1px solid #9C9C9C;
    border-radius: 5px;
    max-width: 650px;
}

#Informations ul #croix {
	float: right;
    margin: -3px -15px 0px 0px;
	cursor: pointer;
}

#Informations ul #croix:hover {
	float: right;
	background-image: url("../../icons/ui/croix-ff.png");
	background-repeat: no-repeat;
}

#Informations li {
	margin: 2px 5px 2px 10px;
	text-align: left;
}

#Informations ul li .texte {
	color: gray;
	font-weight: bold;
	margin-right: 10px;
}

#Informations ul li img {
	position: relative;
	margin: 0px 5px -2px 0px;
}